.why__me {
  padding-top: 50px;
  width: 100%;
  height: 307px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;

  h1 {
    font-family: 'Anta', sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 120px;
    text-align: center;
    color: #89bcd9;
  }
  .location {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;

    .me__imgs {
      position: relative;
    }

    loc_imgs {
      width: 74px;
      height: 2463pxpx;
      position: absolute;
      top: 2px;
    }
    .ellpis {
      width: 18px;
      height: 14px;
      position: absolute;
      top: 35px;
      left: 8px;
    }

    .el_bg {
      width: 30px;
      height: 25px;
      position: absolute;
      top: 30px;
    }

    h3 {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      color: #ffffff;

      span {
        color: #89bcd9;
      }
    }
  }
  .me_content {
    width: 860px;
    display: flex;
    justify-content: space-between;
    height: 176px;
    gap: 24px;
  }

  .width-size {
    width: 379px;
    height: 176px;

    font-size: 18px;
    font-weight: 400;
  }
  .josefinFont {
    width: 378px;
    color: #f8f5ec;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    font-family: Josefin Sans;
    font-weight: 400;

    font-size: 18px;

    line-height: 120%;
    letter-spacing: 0%;
  }

  .talk__btns {
    position: relative;
    width: fit-content; /* passt sich der Button-Größe an */
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 600px;

    > img {
      position: absolute;
      top: 20px;

      transition: opacity 0.4s ease, transform 0.3s ease; /* Animationseffekt */
    }

    .btn__talk {
      z-index: 2;
      opacity: 1;
      transform: scale(1);
    }

    .btn__talk_hover {
      z-index: 1;
      opacity: 0;
      transform: scale(1);
    }

    &:hover {
      .btn__talk {
        opacity: 0;
        transform: scale(1.05); /* leicht vergrößern */
      }
      .btn__talk_hover {
        opacity: 1;
        transform: scale(1.05); /* gleiche Bewegung */
      }
    }
  }
}
