.logo {
  /*   padding-top: 121px;
  padding-left: 200px; */
}

.sp2 {
  color: #89bcd9;
  font-family: Josefin Sans;
  font-weight: 300;
  font-size: 16;
}
.sp1 {
  font-family: Anta;
  color: #f8f5ec;
  font-weight: 400;
  font-size: 16px;
}
