.logo {
  width: auto;
  text-align: center;

  .logo-img {
    width: 52px;
    height: 32px;
    transition: width 0.4s ease; /* sanfte Animation */
  }

  &:hover .logo-img {
    width: 60px; /* +8px breiter */
  }
}

.sp2 {
  color: #89bcd9;
  font-family: Josefin Sans;
  font-weight: 300;
  font-size: 16;
}
.sp1 {
  font-family: Anta;
  color: #f8f5ec;
  font-weight: 400;
  font-size: 16px;
}
