* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-wrapper {
  max-width: 1440px; // limit the content width
  margin: 0 auto; // center horizontally
  /*  padding: 0 24px; */ // small inner padding for all screens
  width: 100%; // allow shrinking on mobiles
  background: #262e34;
  min-height: 100vh;
  position: relative;
}

.hero {
  height: 100vh;
  position: static;
}
.menu {
  top: 0;
  position: sticky;
}

.main__content {
  width: 100%;
  min-height: 100vh;
}

@media (max-width: 1024px) {
  .landing-wrapper {
    max-width: 900px;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .landing-wrapper {
    max-width: 100%;
    padding: 0 16px;
  }
}

@media (max-width: 480px) {
  .landing-wrapper {
    padding: 0 12px;
  }
}
