$main-bg-color: #262e34;
$font-primary: 'Anta', sans-serif;

.hero {
  max-width: 1214px;
  height: 705px;
  background-color: $main-bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.hero__left {
  width: 650px;
  height: 100%;
}

.images {
  position: relative;

  .hero__hover {
    position: relative;

    img {
      position: absolute;
      top: 80px;
      left: 0;
      width: 480px;
      height: 516px;
      transition: opacity 0.6s ease, transform 0.6s ease;
    }

    .img_left1 {
      transform: rotate(-35deg);
      opacity: 0;
      z-index: 2;
    }

    .img_left2 {
      transform: rotate(-45deg);
      opacity: 1;
      z-index: 1;
    }

    &:hover {
      .img_left1 {
        opacity: 1;
        transform: rotate(-30deg) scale(1.03);
      }

      .img_left2 {
        opacity: 0;
        transform: rotate(-45deg);
      }
    }
  }

  .img_left3 {
    width: 430px;
    height: 683px;
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 10;
  }
}

.hero__logo__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.hero__logo {
  width: 56px;
  height: 38px;

  &:hover {
    width: 75px;
    transition: width 0.3s ease;
  }
}
.logo {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 121px;
}

.hero__social_icons {
  width: 30px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  padding-top: 68px;
}

.hero__right {
  width: 650px;
  height: 680px;
}
.hero__content {
  width: 580px;
}

.hero__name {
  font-family: $font-primary;
  width: 610px;
  font-size: 88px;
  font-weight: 400;
  color: #f8f5ec;
}
.hero__title {
  font-family: 'Josefin Sans';
  font-size: 44px;
  font-weight: 400;
  color: #f8f5ec;
}

.name_logo {
  font-family: 'Anta', sans-serif;
  color: #f8f5ec;
  font-size: 16px;
  font-weight: 400;
}
.title_logo {
  font-family: 'Josefin Sans', sans-serif;
  color: #89bcd9;
  font-size: 16px;
  font-weight: 300;
}

.hero__social_icons {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .hero__mail_icon,
  .hero__github_icon,
  .hero__linkin_icon {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;

    img {
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 30px;
      transition: opacity 0.4s ease, transform 0.4s ease;
    }
    .hero__social_icon {
      opacity: 1;
      z-index: 1;
    }
    .hover_icon,
    .hover__github,
    .hover__linkin {
      opacity: 0;
      z-index: 2;
      transform: scale(1);
    }

    &:hover {
      .hero__social_icon {
        opacity: 0;
      }
      .hover_icon,
      .hover__github,
      .hover__linkin {
        opacity: 1;
        transform: scale(0.9);
      }
    }
  }
}

.hero__arrow_down {
  position: relative;
  cursor: pointer;
  text-align: center;
  width: 300px;
  padding-top: 100px;
  height: 89px;

  img {
    position: absolute;
    top: 150px;
    left: 150px;
    width: 38px;
    height: 89px;
    transition: opacity 0.3s ease;
  }

  .arrow {
    opacity: 1;
  }

  .arrow__hover {
    opacity: 0;
  }

  &:hover {
    .arrow {
      opacity: 0;
    }

    .arrow__hover {
      opacity: 1;
    }
  }
}

@media (max-width: 1160px) {
  .hero__left,
  .hero__right {
    width: 100%;
    height: 705px;
  }

  .hero__content {
    width: 100%;
  }

  .hero__name {
    font-size: 44px;
    width: 100%;
  }

  .hero__title {
    font-size: 24px;
  }

  .images {
    margin-bottom: 20px;
  }
}
