$main-bg-color: #042639;

.hero {
  width: 100%;
  max-width: 1214px;
  height: 705px;
  background-color: $main-bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.hero__left {
  width: 650px;
  height: 100%;
}

.images {
  position: relative;
}

.img_left1 {
  width: 477px;
  height: 516px;
  position: absolute;
  top: 80px;
  left: 0px;
  transform: rotate(-35deg);

  opacity: 0;
  transition: opacity 0.6s ease, transform 0.6s ease;
  z-index: 2;
}
.img_left2 {
  width: 480px;
  height: 516px;
  position: absolute;
  top: 80px;
  left: 0px;
  transform: rotate(-45deg);
  opacity: 1;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.6s ease, transform 0.6s ease;
  z-index: 1;
}

.images:hover .img_left1 {
  opacity: 1;
  transform: rotate(-30deg) scale(1.03);
}

.images:hover .img_left2 {
  opacity: 0;
  transform: rotate(-45deg);
}

.img_left3 {
  width: 430px;
  height: 683px;
  position: absolute;
  top: 0px;
  left: 30px;
  z-index: 10;
}
.hero__logo__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.logo {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__social_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding-top: 68px;
}

.hero__right {
  width: 650px;
  height: 680px;
}
.hero__content {
  width: 580px;
}

.hero__name {
  font-family: 'Anta';
  width: 610px;
  font-size: 88px;
  font-weight: 400;
  color: #f8f5ec;
}
.hero__title {
  font-family: 'Josefin Sans';
  font-size: 44px;
  font-weight: 400;
  color: #f8f5ec;
}

.name_logo {
  font-family: 'Anta';
  color: #f8f5ec;
  font-size: 16px;
  font-weight: 400;
}
.title_logo {
  font-family: 'Josefin Sans';
  color: #89bcd9;
  font-size: 16px;
  font-weight: 300;
}
.hero__mail_icon {
  position: relative;
}

.hover_icon {
  position: absolute;
  top: 0px;
  right: 0px;
}

.hero__github_icon {
  position: relative;
}

.hover__github {
  position: absolute;
  top: 0px;
  right: 0px;
}

.hero__linkin_icon {
  position: relative;
}

.hover__linkin {
  position: absolute;
  top: 0px;
  right: 0px;
}

.hero__social_icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  opacity: 1;
  transition: opacity 0.4s ease;
  z-index: 1;
  cursor: pointer;
}

.hover_icon,
.hover__github,
.hover__linkin {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: 2;
  transform: scale(1);
  cursor: pointer;
}

/* === Hover-Effekt === */
.hero__mail_icon:hover .hover_icon,
.hero__github_icon:hover .hover__github,
.hero__linkin_icon:hover .hover__linkin {
  opacity: 1;
  transform: scale(0.9);
}

.hero__mail_icon:hover .hero__social_icon,
.hero__github_icon:hover .hero__social_icon,
.hero__linkin_icon:hover .hero__social_icon {
  opacity: 0;
}
