/* Default image visible */

.social-container {
  display: flex;
  gap: 16px; /* space between icons */
  flex-direction: column;

  .icons {
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;

    /* Base styles for all icons */
    img {
      position: absolute;
      width: 32px;
      height: 32px;
      top: 0;
      left: 0;
      transition: opacity 0.3s ease;
    }

    /* Default visible icons */
    .Linkedin,
    .Github,
    .Email {
      opacity: 1;
      z-index: 2;
    }

    /* Hover (hidden by default) */
    .h-linkin,
    .h-github,
    .h-email {
      opacity: 0;
      z-index: 1;
    }

    /* Hover effect */
    &:hover {
      .Linkedin,
      .Github,
      .Email {
        opacity: 0;
      }

      .h-linkin,
      .h-github,
      .h-email {
        opacity: 1;
      }
    }
  }
}
