$bg-nav-color: #89bcd9;

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-nav-color;
  margin-top: 100px;
  padding-left: 10px;
  padding-right: 10px;

  .nav__links {
    width: 677px;
    height: 26px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;

    cursor: pointer;
    li {
      list-style: none;
      color: #262e34;
    }

    a {
      text-decoration: none;
      color: #262e34;
      font-size: 26px;
      font-weight: 500;
      font-family: Josefin Sans, sans-serif;

      &:hover {
        color: #f8f5ec;
        transform: scale(1.2);
      }
    }
  }

  .language__btn {
    width: 92px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    .de,
    .en {
      border: none;
      background: transparent;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 400;
      font-size: 18px;
      transition: color 0.3s ease;
    }

    .de {
      color: #262e34;
      cursor: pointer;
    }

    .en {
      color: #f8f5ec;
    }

    // === Hover-Effekt (Farben tauschen) ===
    &:hover {
      .de {
        color: #f8f5ec;
      }

      .en {
        color: #262e34;
      }
    }
  }

  .nave__logo {
    width: 58px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    img {
      width: 52px;
      height: 38px;
    }

    .menu__logo_title {
      font-family: 'Anta', sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #f8f5ec;
    }

    .menu__logo_subtitle {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #262e34;
    }
  }
}
