.mySkills__section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 869px;
  height: 556px;
  margin: 0 auto;
  > .myskill__title {
    font-family: 'Anta', sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 120px;
    text-align: center;
    color: #89bcd9;
  }
}
