.contact__content {
  width: 911px;
  height: 661px;
  padding-left: 265px;
  padding-top: 100px;
  .contac_title {
    font-family: 'Anta', sans-serif;
    font-size: 54px;
    color: #89bcd9;
    font-weight: 400;
    text-align: center;
  }
  .info_content {
    padding-top: 100px;
    width: 911px;
    height: 124px;
    display: flex;
    justify-content: start;
    gap: 36px;

    .text {
      font-size: 18px;
      font-weight: 400;
      font-family: 'Josefin Sans', sans-serif;
      color: #f8f5ec;
      width: 429px;
      height: 124;
    }
  }
}

/* .contact_icons {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .link_box {
    display: flex;
    align-items: center;
    gap: 18px;
    text-decoration: none;
    color: #f8f5ec;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
    transition: color 0.3s ease;

    .icon_box {
      width: 32px;
      height: 32px;
      position: relative;
      overflow: hidden;

      img {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.3s ease;
      }

      .hover_icon,
      .call_hover {
        opacity: 1;
        z-index: 2;
      }

      .default_icon {
        opacity: 6;
        z-index: 4;
      }
    }

    &:hover {
      color: #89bcd9;

      img.default_icon {
        opacity: 0;
      }

      img.hover_icon,
      img.call_hover:hover {
        opacity: 3;
        z-index: 1;
      }
    }
  }
}
 */

.contact_icons {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .link_box {
    display: flex;
    align-items: center;
    gap: 18px;
    text-decoration: none;
    color: #f8f5ec;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
    transition: color 0.3s ease;

    .icon_box {
      width: 32px;
      height: 32px;
      position: relative;

      img {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.3s ease;
      }

      /* Default Icon immer sichtbar */
      .default_icon {
        opacity: 1;
        z-index: 2;
      }

      /* Hover Icon unsichtbar */
      .hover_icon {
        opacity: 0;
        z-index: 1;
      }
    }

    /* Hover Effekt */
    &:hover {
      color: #89bcd9;

      .default_icon {
        opacity: 0 !important;
      }

      .hover_icon {
        opacity: 8 !important;
        z-index: 8 !important;
      }
    }
  }
}
