@use '@angular/material' as mat;

@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/josefin-sans-v34-latin-300.woff2') format('woff2');
} /* josefin-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/josefin-sans-v34-latin-regular.woff2') format('woff2');
} /* anta-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Anta';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/anta-v1-latin-regular.woff2') format('woff2');
}

/* === Global Reset === */

* {
  margin: 0;
  padding: 0;
}

/* === Angular Material Theme === */
html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

/* === Variables === */
$main-bg-color: #262e34;
$color-text: #f8f5ec;
$color-accent: #89bcd9;

$font-primary: 'Anta', sans-serif;
$font-secondary: 'Josefin Sans', sans-serif;

html,
body {
  margin: 0;
  padding: 0;
  background: #000000;
}
