$footer-bg-color: #89bcd9;

.footer__content {
  max-width: 1440px;
  height: 214px;
  background-color: $footer-bg-color;

  .footer__logo_content {
    width: 1216px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 112px;
    padding-top: 81px;
  }

  .footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      width: 52px;
      height: 28px;
    }
  }
}
