$section-bg-color: #2d383f;
$sectino-text-color: #f8f5ec;

.main__card {
  width: 100%;
  height: 100vh;
  /*  .ellpolo {
    background-color: transparent;
    color: #89bcd9;
    padding: 12px 32px;
    border: none;
    border-radius: 8px;
    font-family: 'Josefin Sans', serif;
    font-weight: 500;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
    width: 350px;
    height: 100px;
  } */

  /*  .ellpolo:hover {
    width: 350px;
    height: 100px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #2d383f;
    transform: translateY(-2px);
  } */

  .myprojects__contents {
    width: 100%;
    text-align: center;
    background: transparent;
    height: 645px;
    background: $section-bg-color;
    display: flex;

    .projects__card {
      background: $section-bg-color;
      color: $sectino-text-color;
      font-family: 'Josefin Sans', serif;
      padding-left: 123px;
      padding-top: 128px;
    }

    .title__card {
      width: 641px;
      display: flex;
      justify-content: start;
      gap: 24px;
      font-family: 'Josefin Sans', serif;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      color: $sectino-text-color;
      line-height: 120%;
      letter-spacing: 0%;
    }
    .text {
      width: 641px;
      padding: 12px;
      text-align: start;
    }
  }
  .image__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .techno__content {
      align-items: center;
      font-family: 'Josefin Sans', serif;
      color: $sectino-text-color;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      > .tech__icons {
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
      }
    }
  }
  .testBtn {
    padding-top: 12px;
    height: 48px;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    gap: 34px;
    position: relative;

    .github-btn {
      width: 154px;
      height: 48px;
      border-radius: 50px;
      background: transparent;

      border: 1.5px solid #8bbfd9;
      color: #8bbfd9;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 18px;
      font-weight: 400;

      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;
      transition: all 0.3s ease;
    }

    .github-btn:hover {
      background: #3b4248;
      color: #8bbfd9;
      transform: scale(1.03);
    }

    .live-test-btn {
      border: none;
      background: #89bcd9;
      width: 154px;
      height: 48px;
      border-radius: 30px;
      color: #262e34;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
      transition: all 0.3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .live-test-btn:hover {
      background: #f8f5ec;

      color: #2d383f;
      transform: scale(1.03);
    }
  }
}

.ellpolo {
  background-color: transparent;
  color: #89bcd9;
  padding: 12px 32px;
  border: none;
  border-radius: 8px;
  font-family: 'Josefin Sans', serif;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 350px;
  height: 100px;
}

.ellpolo.active {
  background-color: #2d383f;
  color: #f8f5ec;
  transform: translateY(-2px);

  width: 350px;
  height: 100px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
