$section-bg-color: #2d383f;
$sectino-text-color: #f8f5ec;

.main__card {
  width: 100%;
  height: 100vh;
  .ellpolo {
    background-color: transparent;
    color: #f8f5ec;
    font-family: Josefin Sans, sans-serif;
    padding: 12px 32px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .ellpolo:hover {
    width: 200px;
    height: 100px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #2d383f;
    transform: translateY(-1px);
  }

  .myprojects__contents {
    width: 100%;
    text-align: center;
    background: transparent;
    height: 645px;
    background: $section-bg-color;
    display: flex;

    .projects__card {
      background: $section-bg-color;
      color: $sectino-text-color;
      font-family: 'Josefin Sans', serif;
      padding-left: 123px;
      padding-top: 128px;
    }

    .title__card {
      width: 641px;
      display: flex;
      justify-content: start;
      gap: 24px;
      font-family: 'Josefin Sans', serif;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      color: $sectino-text-color;
      line-height: 120%;
      letter-spacing: 0%;
    }
    .text {
      width: 641px;
      padding: 12px;
      text-align: start;
    }
  }
  .image__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .techno__content {
      align-items: center;
      font-family: 'Josefin Sans', serif;
      color: $sectino-text-color;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      > .tech__icons {
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
      }
    }
  }
  .testBtn {
    height: 48px;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    gap: 34px;
    position: relative;

    .livetestBtn {
      z-index: 1;
      transition: all 0.3s ease; /* für schöne Animation */
    }

    .livetestBtn:hover {
      width: 154px;
      height: 48px;
      border-radius: 30px;
      background: #f8f5ec;
      color: #2d383f;
      z-index: 3;
      position: relative; /* damit z-index greift */
    }
  }
}
