.ellpolo {
  background-color: transparent; /* Default background */
  color: #f8f5ec; /* Default text color */
  font-family: Josefin Sans, sans-serif;
  padding: 12px 32px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* HOVER EFFEKT */
.ellpolo:hover {
  width: 200px;
  height: 100px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #2d383f; /* Helle Farbe */
  color: #fff; /* Dunkle Farbe */
  transform: translateY(-4px); /* kleine Bewegung */
}

.myprojects__contents {
  width: 100%;
  text-align: center;
  background: transparent;
  height: 500px;
}
